*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    /* border: 1px solid black; */
    font-family: "Noto Serif", serif;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7b79;
}

/* Main rectangle -------------------------------------------------*/

.main{
    height:24rem;
    width: 50rem;
    border-radius: 25px;
    box-shadow:  2px 2px 500px 5px  rgb(216, 139, 255,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;

}

/* the slider strip----------------------------------------------- */

.slider{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

/* items of slider strip ------------------------------------------*/

.slider-item{
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 20px;

    position: relative;


    transition: transform 0.5s ease-in-out;

}

.slider-item::before{
    content: "";
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    filter: blur(10px);
    box-shadow: none;

    transition: transform 0.5s ease-in-out;

}

.slider-item.active-slide::before {
  transform: scale(1.05); 
}

.item1::before {
  background-image: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=1173&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.item2::before {
  background-image: url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?q=80&w=1170&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.item3::before {
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.item4::before {
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1074&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/* The inside contents of items----------------------------------- */


.content{
    /* border: 2px solid black; */
    width: 50%;
    z-index: 1;
    color: rgb(223, 222, 222);

    transform: translateY(50%);
    opacity: 0;


    transition: transform 0.5s ease-in-out, opacity 0.8s ease-in;


}

.content > h2{
    margin: 10px;
}

.content > p{
    letter-spacing: 1px;
    margin: 10px;;
}

.content > button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.card{
    width: 50%;
    border: 2px solid rgb(188, 188, 188,0.1);
    z-index: 1;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;

    transition: transform 0.5s ease-in-out;
}

.slider-item.active-slide .card 
{
    transform: scale(1.1);
}

.slider-item.active-slide .content{
    transform: translateX(0%);
    opacity: 1;
}




/* slider navigation--------------------------------------------- */

.slider-nav
{
    /* border: 2px solid black; */
    position: absolute;
    bottom:10%;
}

.slider-nav > *{
    margin: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid black;
    border-radius: 100%;
    background-color: rgba(172, 172, 172, 0.7);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.slider-nav>*:hover {
    opacity: 0.9;
    transform: scale(1.05);
}








